* {
  margin: 0;
  box-sizing: border-box;
}

#page-wrapper {
  width: 80vw;
  background-color: antiquewhite;
  margin: 0 auto;
  text-align: center;

}

#container {
    display: flex;
    flex-direction: row;
    width: 100%
}

nav {
  width: 30%;
  display: flex;
  justify-content: center;
    background-color: olivedrab;
    padding: 16px;
}

nav ul {
  padding: 0;
    list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
    margin: 0;
    gap: 18px;
}

nav li {
  background-color: antiquewhite;
  padding: 2%;
  width: 80%;
    gap: 18px;
}

nav a {
  text-decoration: none;
    border-radius: 0;

}

main {
  height: 100vw;
  width: 70%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
}

header {
    text-align: left;
    padding: 12px 12px;
    background-color: darkgreen;
    color: antiquewhite;
}

img {
    width: 40%;
    align-self: center;
    max-width: 200px;
}

main ul {
    list-style-type: none;
}

#content-img {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

h1 {
    font-size: calc(24px + 1.2vw);
}

h3 {
    font-size: calc(18px + 0.2vw);
}

p {
    font-size: calc(12px + 0.6vw);
    text-align: left;
}

#contact {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#contact li {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer {
    text-align: center;
    background-color: darkgreen;
    color: antiquewhite;
}

a {
    font-size: calc(14px + 0.4vw);
    text-align: left;
}


/* above desktop below is mobile */

@media screen and (max-width: 750px) {
  #container {
    display: flex;
    flex-direction: column;
    width: 100%
  }

  nav {
    width: auto;
      margin: 0;
      padding: 4px 4px;

  }

  main {
    width: 100%;
      height: auto;
  }

  nav ul {
    flex-direction: row;
      width: auto;
      justify-content: space-between;
      gap: 4px;
      padding: 0 4px;

  }

  nav ul li{
      width: auto;
      padding: 6px 10px;
  }

    header {
        text-align: center;
    }

    header p {
        text-align: center;
    }

}